body {
  font-family: Arial, sans-serif;
  background-color: #f9f9ff;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
}
.navbar h1 {
  margin: 0;
  font-size: 18px;
}

.navbar-brand {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #6c63ff;
}
label {
  font-weight: bold;
}
.symptom {
  margin-bottom: 15px;
}
button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button[type='submit']:hover {
  background-color: #5146d6;
}

.btn {
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

#result {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-link {
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  margin: 0 10px;
}

.menu-link p {
  font-size: 16px;
}

hr {
  color: white;
}

.voice-button-container {
  display: flex;
  align-items: start;
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
